.m-f-sponsors {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  /*-webkit-filter: grayscale(0); /* Color */
/*-webkit-filter: grayscale(0.5); /* 50% color */
/*-webkit-filter: grayscale(1); /* Blanco y negro */
background: url(../images/common/ticker_bg.jpg) repeat top left #2a2929;
}
.m-f-sponsors a {
  display: block;
  width: calc(25% - 16px);
  text-align: center;
  padding: 8px;
  margin: 0 8px;
}
#sponsors:hover {
  filter: none;
  -webkit-filter: none;

}
