body {
			background-color: white;
			color: black;
}

.emphasis-reverse {
       color: white;
       background-color: black;
  }

span.navtitle {
			color: black;
			font-family: ariel, helvetica, helv, sanserif;
			font-weight: bold;
			font-size: 1em;
}

pre.programlisting {
			left-margin: 2em
}
div.htmltoc {
}
