/*MENU*/

.menu_login {padding: 10; margin: 0; border: 0;}
.menu_login ul, .menu_login li {list-style: none; margin: 0; padding: 0;}
.menu_login ul {position: relative; z-index: 597; }
.menu_login ul li { float: left; min-height: 1px; vertical-align: middle;}
.menu_login ul li.hover,
.menu_login ul li:hover {position: relative; z-index: 599; cursor: default;}
.menu_login ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
.menu_login ul ul li {float: none;}
.menu_login ul ul ul {top: 0; left: auto; right: -99.5%; }
.menu_login ul li:hover > ul { visibility: visible;}
.menu_login ul ul {bottom: 0; left: 0;}
.menu_login ul ul {margin-top: 0; }
.menu_login ul ul li {font-weight: normal;}
.menu_login a { display: block; line-height: 1em; text-decoration: none; }

.menu_login {
background: #333;
border-bottom: 4px solid #232628;
font-family: 'Roboto', Tahoma, Arial, sans-serif;
font-size: 12px;
}

.menu_login > ul { *display: inline-block; }

.menu_login:after, .menu_login ul:after {
content: '';
display: block;
clear: both;
}

.menu_login a {
background: #333;
color: #CBCBCB;
padding: 0 20px;
}
.menu_login ul { text-transform: uppercase; }

.menu_login ul ul {
border-top: 4px solid #232628;
text-transform: none;
min-width: 190px;
}
.menu_login ul ul a {
background: #232628;
color: #FFF;
border: 1px solid #ED0000;
border-top: 0 none;
line-height: 150%;
padding: 16px 20px;
}
.menu_login ul ul ul { border-top: 0 none; }

.menu_login ul ul li { position: relative }

.menu_login > ul > li > a { line-height: 48px; }

.menu_login ul ul li:first-child > a { border-top: 1px solid #ED0000; }
.menu_login ul ul li:hover > a { background: #ED0000; }

.menu_login ul ul li:last-child > a {
border-radius: 0 0 3px 3px;
box-shadow: 0 1px 0 #232628;
}
.menu_login ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

.menu_login ul ul li.has-sub > a:after {
content: '+';
position: absolute;
top: 50%;
right: 15px;
margin-top: -8px;
}

.menu_login ul li:hover > a, .menu_login ul li.active > a {
background: #232628;
color: #FFF;
}
.menu_login ul li.has-sub > a:after {
content: '+';
margin-left: 5px;
}
.menu_login ul li.last ul {
left: auto;
right: 0;
}
.menu_login ul li.last ul ul {
left: auto;
right: 99.5%;
}

.menu{
	position:absolute;
	left:32%;
	margin-bottom:10px;
}
