@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import "bootstrap-social.less";

body  {
    background-image: url("../images/back.jpg");
		background-size: cover;
		background-repeat:no-repeat;
		opacity: 0.9;
    color:#b3b3b3;

}

.contenedor{
	/*margin-top:50px;*/
	background-repeat: no-repeat;
	font-family:"Roboto";
	width:90%;
	margin-left:70px;
	margin-right:50px;


}


.Cell1{
	background-image: url(../images/top_banner.png);
	position: relative;
	top:50%;
	width:780px;
	margin-left:auto;
	margin-right:auto;
	height:180px;
	margin-top:10px;
	margin-bottom:10px;
}
.navigation{
	padding-bottom:1px;
	margin: 0 auto;
}
.mid{
	margin-top: 50px;
	overflow: hidden;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.login{
  height:550px;
}

.login, .text{
		float: left;
		background-color:#232628;

}


#text{
	background-color:#232628;
	/*width: 100%;*/
	margin-left:220px;
  height:auto;
min-height:550px;
height:auto !important;        /* for IE as it does not support min-height */
height:50px;                   /* for IE as it does not support min-height */
padding-top: 30px;
}

.login{
	background-color:#232628;
	width:200px;
	height:580px;
}
/*MENU*/

.cssmenu {padding: 10; margin: 0; border: 0;}
.cssmenu ul, .cssmenu li {list-style: none; margin: 0; padding: 0;}
.cssmenu ul {position: relative; z-index: 597; }
.cssmenu ul li { float: left; min-height: 1px; vertical-align: middle;}
.cssmenu ul li.hover,
.cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
.cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
.cssmenu ul ul li {float: none;}
.cssmenu ul ul ul {top: 0; left: auto; right: -99.5%; }
.cssmenu ul li:hover > ul { visibility: visible;}
.cssmenu ul ul {bottom: 0; left: 0;}
.cssmenu ul ul {margin-top: 0; }
.cssmenu ul ul li {font-weight: normal;}
.cssmenu a { display: block; line-height: 1em; text-decoration: none; }

.cssmenu {
background: #333;
border-bottom: 4px solid #232628;
font-family: 'Roboto';
font-size: 15px;
}

.cssmenu > ul { *display: inline-block; }

.cssmenu:after, .cssmenu ul:after {
content: '';
display: block;
clear: both;
}

.cssmenu a {
background: #333;
color: #CBCBCB;
padding: 0 20px;
}
.cssmenu ul { text-transform: uppercase; }

.cssmenu ul ul {
border-top: 4px solid #232628;
text-transform: none;
min-width: 190px;
}
.cssmenu ul ul a {
background: #232628;
color: #FFF;
border: 1px solid #ED0000;
border-top: 0 none;
line-height: 150%;
padding: 16px 20px;
}
.cssmenu ul ul ul { border-top: 0 none; }

.cssmenu ul ul li { position: relative }

.cssmenu > ul > li > a { line-height: 48px; }

.cssmenu ul ul li:first-child > a { border-top: 1px solid #ED0000; }
.cssmenu ul ul li:hover > a { background: #ED0000; }

.cssmenu ul ul li:last-child > a {
border-radius: 0 0 3px 3px;
box-shadow: 0 1px 0 #232628;
}
.cssmenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

.cssmenu ul ul li.has-sub > a:after {
content: '+';
position: absolute;
top: 50%;
right: 15px;
margin-top: -8px;
}

.cssmenu ul li:hover > a, .cssmenu ul li.active > a {
background: #232628;
color: #FFF;
}
.cssmenu ul li.has-sub > a:after {
content: '+';
margin-left: 5px;
}
.cssmenu ul li.last ul {
left: auto;
right: 0;
}
.cssmenu ul li.last ul ul {
left: auto;
right: 99.5%;
}

.menu{
	position:absolute;
	left:40%;
	padding-bottom:100px;
}

/*FOOTER*/

.footer-distributed{
	background-color: #232628;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px Roboto;
	padding: 45px 50px;
	margin-top: 10px;
	height:250px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;

}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

.social {
    position: relative;
    height: 3em;
    width: 13.5em;
    /*margin: 150px 450px;*/
}

.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
    background: #155b9d;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}
.facebook2 {
    background: #155b9d;
    left: 50%;
    top: 0%;
}

.twitter2 {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.pinterest {
    background: #e11a30;
    left: 50%;
    top: 0%;
}
.behance {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}
.behance2 {
    background: #3f7aa3;
    top: 0%;
    left: 50%;
}
.behance3 {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}

.footer-right{
	margin-top:50px;


}
